@import "src/shared/styles/base";
@import "src/shared/styles/common";

.section {
  &__about {
    padding-bottom: 128px;
    &__title {
      text-align: center;
      margin-bottom: 24px;
    }
  }
}

.title__accent {
  font-weight: 400;
}
