@import "src/shared/styles/base";

.nav {
  &__link {
    position: relative;
    &:not(:first-child) {
      padding-left: 20px;
    }
    &:not(:first-child)::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 10px;
      left: 0;
      top: 25%;
      background-image: url(../../../../images/nav/arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      fill: #cccccc;
    }
    &:not(:last-child) {
      margin-right: 10px;
      @include tablet {
        margin-right: 20px;
      }
    }

    &__item {
      font-size: 14px;
      line-height: 1.25;
      color: #cccccc;
      text-decoration: none;
      @include tablet {
        font-size: 16px;
      }
    }
  }
}

.active {
  color: $accent-color;
  text-decoration: none;
}
