@import "src/shared/styles/base";

.form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  position: absolute;
  width: 96px;
  left: 50%;
  top: 3px;
  transform: translateX(44%);

  background: $accent-color;
  color: $white-color;

  @include tablet {
    width: 126px;
    transform: translateX(96%);
  }

  @include desktop {
    width: 176px;
    padding: 17px 48px 16px 48px;
    top: 4px;
    transform: translateX(68%);
  }
}
