$background-color: #e5e5e5;
$primary-text-color: #7e7e7e;
$accent-color: #3a80ba;
$footer-background-color: #1c3b55;
$secondary-text-color: #1a1a1a;
$white-color: #ffffff;

$tablet: 768px;
$desktop: 1280px;
