@import "src/shared/styles/base";
@import "src/shared/styles/common";

.footer {
  padding-top: 26px;
  background-image: url(../../../images/footer/footerBg.png);
  background-repeat: no-repeat;
  background-position: 80%;
  @include tablet {
    background-position: 100%;
    background-size: cover;
  }
}
